.card-header{
  cursor: pointer;
}

.payment * {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.payment .fieldset {
  padding: 0;
  border-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.payment .field {
  padding: 10px 20px 11px;
  background-color: #FFF;
  border-radius: 5px;
  border: 1px solid #CCC;
  width: 100%;
}

.payment .field.half-width {
  width: calc(50% - (5px / 2));
}

.payment .field.third-width {
  width: calc(33% - (5px / 3));
}

.payment .field + .field {
  margin-top: 6px;
}

.payment .field.focus,
.payment .field:focus {
  color: #424770;
  background-color: #f6f9fc;
}

.payment .field.invalid {
  background-color: #fa755a;
}

.payment .field.invalid.focus {
  background-color: #f6f9fc;
}

.payment .field.focus::-webkit-input-placeholder,
.payment .field:focus::-webkit-input-placeholder {
  color: #cfd7df;
}

.payment .field.focus::-moz-placeholder,
.payment .field:focus::-moz-placeholder {
  color: #cfd7df;
}

.payment .field.focus:-ms-input-placeholder,
.payment .field:focus:-ms-input-placeholder {
  color: #cfd7df;
}

.payment input, .payment button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.payment input {
  color: #fff;
}

.payment input::-webkit-input-placeholder {
  color: #9bacc8;
}

.payment input::-moz-placeholder {
  color: #9bacc8;
}

.payment input:-ms-input-placeholder {
  color: #9bacc8;
}

.payment button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 0 15px;
  background-color: #fcd669;
  border-radius: 20px;
  color: #525f7f;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.payment button:active {
  background-color: #f5be58;
}

.payment .error svg .base {
  fill: #fa755a;
}

.payment .error svg .glyph {
  fill: #fff;
}

.payment .error .message {
  color: #fff;
}

.payment .success .icon .border {
  stroke: #fcd669;
}

.payment .success .icon .checkmark {
  stroke: #fff;
}

.payment .success .title {
  color: #fff;
}

.payment .success .message {
  color: #9cabc8;
}

.payment .success .reset path {
  fill: #fff;
}
