@import url('../font/font.css');

*,
*:before,
*:after {
    box-sizing: inherit;
}

*{
    font-family: 'Avenir LT Std';
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer p {
    margin-bottom: .25rem;
}

.blur{
    width:100%;
    margin-top: -40px;
    z-index:0;
    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);
    filter: blur(40px);
}

.pro-text{
    position: relative;
    top:-250px;
    z-index: 2;
    text-align: center;
}

#app .pro-text{
    top: 50px;
}

.pro-text h1{
    text-shadow: 1px 1px 2px #FFF;
}

.btn-goPro{
    background: #FF6600;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 7px 13px;
    border-radius: 10px;
}

.btn-goPro:hover, .btn-goPro:active{
    color: #FFF;
    background: #FF5000;
    text-decoration: none;
}

.bg-darkblue{
    background-color: #000639;
}

nav a.nav-item{
    font-size: 20px;
}

nav a:hover{
    text-decoration: none;
}

.sticky-top{
    height:100vh;
    z-index: auto;
    overflow-y: scroll;
}

.sticky-top::-webkit-scrollbar-track{
    border-radius: 10px;
}

.sticky-top::-webkit-scrollbar{
    width:10px;
    background: #CCC;
}

.sticky-top::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #FF6600;
}

.sticky-top button{
    outline: none;
}

.score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    font-size: 12px;
}

.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}

.text-fox, .text-fox:hover{
    color: #FF6600;
}

.text-2x{
    font-size: 200%;
}

.text-3x{
    font-size: 200%;
}

.bg-fox{
    background: #FF6600;
}

.bg-darker{
    background-color: rgba(0,0,0, 0.25);
}

.btn-fox{
    color: #FFFFFF;
    background: #FF6600;
    border: 1px solid #FF5000;
}

.btn-fox:hover, .btn-fox:active{
    color: #FFFFFF;
    background: #FF5000;
}

.positionTop{
    width:50px;
    height: 50px;
    font-size: 1.5rem;
    color:#000;
    border-radius: 50%;
    z-index: 20;
    position: absolute;
    top: -15px;
    right:-10px;
    text-align: center;
    line-height: 50px;
}

.positionTop.first{
    background: yellow;
}

.positionTop.second{
    background: silver;
}

.positionTop.third{
    background: rosybrown;
}

main .list-group-item{
    border:none;
}

main .list-group.text-muted a{
    padding: .25rem 1.25rem
}

.modal .modal-dialog.w-80{
    text-align: center;
    max-width: 800px;
}

.text-large {
    font-size: 125%;
}

.text-x-large {
    font-size: 150%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
}
.hr-text:before {
    content: "";
    background: linear-gradient(to right, #818078, #818078, #818078);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

.modal-content{
    background: transparent;
}

.modal-body, .modal-footer{
    background: #FFF;
}

footer nav a.nav-item {
    font-size: 15px;
}

footer{
    position: absolute;
    right: 0;
    bottom: -8rem;
    left: 0;
}

.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
}

span.circle-number{
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    line-height: 1.6em;
    width: 1.6em;
    height: 1.6em;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
}

.bg-x-light{
    background: #DBDBDB;
}

.text-x-light{
    color: #DBDBDB;
}

.shadow-right{
    box-shadow: 20px 0px 90px -100px #000000;
}

.bg-white.border-right{
    border-right: 1px solid #CCC;
}

.nav-pills .text-fox.nav-link.active{
    background: #FF6600;
}

.productImage{
    height: 225px;
    object-fit: cover;
}

button.list-group-item{
    text-align:left !important;
}

.bg-light{
    background-color: #f5f6fa;
}

.two-lines{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.clickable{
    cursor: pointer;
}

#app .card .bg-success{
    font-size: 85%;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.v--modal-overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.productImage.blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    margin: -8px -16px -16px -8px;
}

#app .bg-success a:hover{
    text-decoration: none;
}