<template>
    <div class="p-3 my-2">
        <div class="row">
            <div class="col-md-5">
                <img class="img-fluid" :src="item.image">
            </div>
            <div class="col-md-7 text-center">
                <h2 class="text-dark font-weight-bold">{{ item.title }}</h2>
                <h1 class="text-fox text-center p-5">${{ item.price }}</h1>
                <a :href="'https://www.aliexpress.com/item/-/'+item.original_id+'.html'" target="_blank" class="btn btn-lg btn-fox" v-if="premium">SEE ON ALIEXPRESS ></a>
                <a :href="'go-pro'" target="_blank" class="btn btn-lg btn-fox" v-else>GO PRO ></a>
                <div class="d-flex justify-content-center align-bottom pt-5">
                    <span class="score">
                        <div class="score-wrap">
                            <span class="stars-active" :style="{ width: (item.ratings/5*100)+'%' }">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="stars-inactive">
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                                <i class="fas fa-star" aria-hidden="true"></i>
                            </span>
                        </div>
                    </span>
                    <small class="text-muted pl-3">({{ item.ratings }}) | Orders ({{ item.orders }})</small>
                </div>
            </div>
        </div>
        <h2 class="pt-3">Insights</h2>
        <div class="row text-center">
            <div class="p-3 w-100">
                <div class="row pb-3 row-eq-height">
                    <div class="col-md-4">
                        <h1 class="text-fox">{{ item.order_rate }}</h1>
                        <p>orders/hour on AliExpress</p>
                    </div>
                    <div class="col-md-4">
                        <i v-if="item.current_position < item.last_position" class="fas fa-long-arrow-alt-up fa-rotate-45 text-success text-2x"></i>
                        <i v-else-if="item.current_position == item.last_position || item.last_position == -1" class="fas fa-equals text-fox text-2x"></i>
                        <i v-else class="fas fa-long-arrow-alt-right fa-rotate-45 text-danger text-2x"></i>
                        <p>trend this week</p>
                    </div>
                    <div class="col-md-4">
                        <p style="max-height: 100px">
                            <img v-for="topCountry in item.details.topCountries" :src="'img/flags/'+topCountry+'.png'" :alt="topCountry" :title="topCountry" style="max-width: 75px" class="pr-2">
                        </p>
                        <p>top countries</p>
                    </div>
                </div>
                <div class="row pb-3 row-eq-height">
                    <div class="col-md-3">
                        <h1>${{ sellingPrice }}</h1>
                        <p>SELLING PRICE</p>
                    </div>
                    <div class="col-md-3">
                        <h1 class="text-danger">${{ item.price }}</h1>
                        <p>PRODUCT COST</p>
                    </div>
                    <div class="col-md-3">
                        <h1 class="text-success">$ {{ (sellingPrice - item.price).toFixed(2) }}</h1>
                        <p>PROFIT MARGIN</p>
                    </div>
                    <div class="col-md-3">
                        <div class="progress" style="height: 25px;">
                            <div class="progress-bar bg-fox" role="progressbar" :style="'width: '+ (item.details.competitors/20)*100+'%'" :aria-valuenow="item.details.competitors" aria-valuemin="0" aria-valuemax="20">{{ item.details.competitors }}</div>
                        </div>
                        <p># of competitors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props : {
      'item' : Object,
      'premium' : Boolean
    },
    data(){
      return {
        sellingPrice: this.calSellingPrice(),
      }
    },
    methods: {
      calSellingPrice(){
        if(this.item.price <= 2){
          return 14.99
        }else{
          return (this.round5(3*this.item.price + 9) - 0.01).toFixed(2)
        }
      },
      round5(x)
      {
        return Math.ceil(x/5)*5;
      }
    }
  }
</script>

<style scoped>

</style>