<template>
    <div class="card mb-4 shadow-sm">
        <img v-if="!hide && premium" class="productImage" :src="item.image" style="cursor: pointer;" @click="openInfobox">
        <img v-else-if="!hide && !premium" class="productImage" :src="item.image" style="cursor: pointer;">
        <div v-else style="margin:20px" class="position-relative">
            <img class="productImage blur" :src="item.image">
            <img class="lock" src="img/products/lock.png">
        </div>
        <div class="card-body">
            <p class="card-text two-lines text-center">
                <a v-if="!hide && premium" class="clickable text-primary text-left" @click="openInfobox">{{ item.title }}</a>
                <a v-else-if="!hide && !premium" class="clickable text-primary text-left" href="go-pro">{{ item.title }}</a>
                <a v-else class="text-2x font-weight-bold">LOCKED PRODUCT</a>
            </p>
            <span v-if="!hide" class="text-fox font-weight-bold">$ {{ item.price }}</span>

            <div v-if="hide == false" class="d-flex justify-content-between align-bottom">
                <span class="score">
                    <div class="score-wrap">
                        <span class="stars-active" :style="{ width: (item.ratings/5*100)+'%' }">
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                        </span>
                        <span class="stars-inactive">
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                            <i class="fas fa-star" aria-hidden="true"></i>
                        </span>
                    </div>
                </span>
                <small v-if="premium == false" class="text-muted">({{ item.ratings }}) | Orders ({{ item.orders }})</small>
            </div>
            <div v-if="item.order_rate > 0" class="d-flex justify-content-center align-bottom bg-danger rounded">
                <span class="text-white">{{ item.order_rate }} orders / hour</span>
            </div>
            <div class="d-flex justify-content-center align-bottom bg-success rounded mt-2">
                <a v-if="hide" class="text-white text-uppercase font-weight-bold py-2 text-lg-center clickable" href="go-pro">UNLOCK NOW</a>
                <a v-else-if="premium === false" class="text-white text-uppercase font-weight-bold py-2 clickable" href="go-pro"><i class="fas fa-dollar-sign"></i> show me the money</a>
                <span v-else class="text-white text-uppercase font-weight-bold py-2 clickable" @click="openInfobox"><i class="fas fa-dollar-sign"></i> show me the money</span>
            </div>
        </div>
    </div>
</template>

<script>
  import InfoboxComponent from "./InfoboxComponent";

  export default {
    props : {
      'item' : Object,
      'premium': Boolean,
      'hide': Boolean
    },
    methods: {
      openInfobox(){
        this.$modal.show(InfoboxComponent, {
          item: this.item,
          premium: this.premium
        }, {
          draggable: false,
          scrollable: true,
          height: 'auto',
          width:"80%",
          maxWidth: 960,
          adaptive: true
        })
      }
    }
  }</script>

<style scoped>
    .lock{
        position: absolute;
        width: 70%;
        left:15%;
        top:25%;
    }

    @media (max-width: 768px) {
        .lock{
            position: absolute;
            width: 40%;
            left:30%;
            top:10%;
        }
    }

</style>