<template>
    <div class="row">
        <div class="col-12 col-lg-3 py-5">
            <div class="list-group list-group-flush bg-transparent sticky-top d-none d-lg-block accordion" id="categories">
                <div class="list-group list-group-root bg-transparent">
                    <div v-for="category in categories" :key="category.id">
                        <button :data-target="'#category'+category.id" @click.prevent="changeCategory(category)" class="list-group-item bg-transparent" data-toggle="collapse" aria-expanded="true" :aria-controls="'category'+category.id">
                            <i :class="category.icon"></i> {{ category.name }}
                        </button>
                        <div class="list-group collapse" :id="'category'+category.id" data-parent="#categories">
                            <button @click.prevent="changeCategory(subCategory)" class="list-group-item list-group-item-action bg-light" v-for="subCategory in category.childrens" :key="subCategory.id">
                                {{ subCategory.name }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="list-group text-muted pt-5">
                    <a href="privacy" class="list-group-item list-group-item-action bg-transparent">Privacy</a>
                    <a href="terms" class="list-group-item list-group-item-action bg-transparent">Terms</a>
                    <a href="affiliates" class="list-group-item list-group-item-action bg-transparent">Affiliates</a>
                    <a href="contact" class="list-group-item list-group-item-action bg-transparent">Contact</a>
                    <a class="list-group-item bg-transparent">ALIFOX © 2019</a>
                </div>
            </div>
            <div class="dropdown show d-lg-none">
                <a class="btn btn-lg w-100 btn-fox dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All categories
                </a>

                <div class="dropdown-menu w-100" id="mobileCategories">
                    <div v-for="category in categories" :key="category.id">
                        <button :data-target="'#category'+category.id" @click.once="changeCategory(category)" class="list-group-item bg-transparent" data-toggle="collapse" >
                            <i :class="category.icon"></i> {{ category.name }}
                        </button>
                        <div class="list-group collapse" :id="'category'+category.id" data-parent="#mobileCategories">
                            <button @click="changeCategory(subCategory)" class="list-group-item list-group-item-action bg-light" v-for="subCategory in category.childrens" :key="subCategory.id">
                                {{ subCategory.name }}
                            </button>
                        </div>
                    </div>
                    <div class="list-group text-muted pt-5">
                        <a href="privacy" class="list-group-item list-group-item-action bg-transparent">Privacy</a>
                        <a href="terms" class="list-group-item list-group-item-action bg-transparent">Terms</a>
                        <a href="affiliates" class="list-group-item list-group-item-action bg-transparent">Affiliates</a>
                        <a href="contact" class="list-group-item list-group-item-action bg-transparent">Contact</a>
                        <a class="list-group-item bg-transparent">ALIFOX © 2019</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="py-5">
                <div class="container">
                    <h2 class="text-muted p-2">
                        Top <strong>{{ selectedCategory.name }}</strong> hot products on AliExpress
                    </h2>
                    <div class="row">
                        <div class="col-md-4" v-for="item in list">
                            <span v-if="item.position <= 3 && premium" class="positionTop" v-bind:class="{ first : (item.position === 1), second : (item.position === 2), third: (item.position === 3) }">#{{ item.position }}</span>
                            <product :item="item" :premium="premium" :hide="premium == false && item.position <= 9"></product>
                        </div>
                    </div>
                    <infinite-loading spinner="spiral" :identifier="infiniteId" @infinite="infiniteHandler">
                        <div slot="spinner"></div>
                        <div slot="no-more"></div>
                        <div slot="no-results"></div>
                    </infinite-loading>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.loadCategories()
        },
        data() {
            return {
                selectedCategory: {
                    id: 0,
                    name: "All"
                },
                categories: [],
                list: [],
                page: 1,
                itemPerPage: 15,
                busy: false,
                infiniteId: +new Date(),
                fakeItems: {
                  nb: 9,
                  imageCollection: 4814656
                },
                premium: false
            }
        },

        methods: {
            loadCategories () {
                this.$http.get('/json/categories')
                    .then(response => {
                        return response.json();
                    }).then(data => {
                    this.categories = data
                });
            },
            showCategory(category){
                return (category.id == this.selectedCategory.id || category.id == this.selectedCategory.parent_id) ?  true : false
            },
            changeCategory (category){
                this.infiniteId += 1;
                this.list = []
                this.page = 1
                this.selectedCategory = category
                $('html, body').animate({
                    scrollTop: $('#app').offset().top - 20
                }, 'slow');
            },
            fakeClass(n){
              return  (n > 1) ? 'col-md-4 d-none d-md-block' : 'col-md-4'
            },
            infiniteHandler($state) {
                if(this.busy === false){
                    this.busy = true;
                    let vm = this;
                    var items;

                    this.$http.get('/json/products/'+this.selectedCategory.id+'?page='+this.page)
                        .then(response => {
                            return response.json();
                        }).then(data => {
                            items = ('data' in data) ?  data.data : data;
                        $.each(items, function(key, value) {
                            if(key == 'premium'){
                              vm.premium = value;
                            }else{
                              value.title = value.product_detail.title;
                              value.orders = value.product_detail.orders;
                              value.ratings = value.product_detail.ratings;
                              value.price = value.product_detail.price;
                              value.position = vm.itemPerPage*(vm.page - 1) + parseInt(key) + 1;
                              value.order_rate = Number((value.order_rate).toFixed(2));
                              if(value.details){
                                value.details = JSON.parse(value.details)
                              }else{
                                value.details = {
                                  'competitors': 10,
                                  'topCountries': ['FR', 'ES']
                                }
                              }

                              vm.list.push(value);
                            }
                        });
                        if(!items || items.length <= 1) { // for category
                            $state.complete();
                        }else{
                            $state.loaded();
                            this.page = this.page + 1;
                        }
                    });
                    this.busy = false;
                }
            },
        },
    }
</script>